.TransactionsWidget__container {
  padding: 20px;
}

.TransactionsWidget {
    background-color: #222;
    color: white;
    padding: 20px;
    border-radius: 8px;
    margin: auto;
    font-family: Arial, sans-serif;
    max-width: 1000px;
  }
  
  .TransactionsWidget__Title {
    font-size: 20px; /* Font size of the title */
    margin-bottom: 0.5em;
    text-align: left;
  }
  
  .TransactionsWidget__Month {
    font-size: 1em;
    color: #aaa;
    margin-bottom: 1em;
    text-align: left;
  }
  
  .TransactionsWidget__List {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .TransactionsWidget__Item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  
  .TransactionsWidget__DateContainer {
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  
  .TransactionsWidget__Date {
    font-weight: bold;
    min-width: 100px;
  }
  
  .TransactionsWidget__Arrow {
    color: #aaa;
    font-size: large;
  }
  
  .TransactionsWidget__DetailsWithLogo {
    display: flex;
    align-items: center; /* Aligns items vertically in the center */
    flex-basis: 80%;
  }

  .TransactionsWidget__Details {
    display: flex;
    text-align: left;
    flex-direction: column;
    padding-left: 10px; /* Adds space between the logo and the text */
  }

  .TransactionsWidget__Company {
    font-weight: bold;
    display: block;
  }
  
  .TransactionsWidget__Action {
    color: #aaa;
    font-size: 0.9em;
    display: block; /* Action text on a new line */
  }
  
  .TransactionsWidget__Total {
    text-align: right;
    margin-right: 20px;
    min-width: 100px; /* Adjust this value to fit the widest possible total value */
    flex-shrink: 0; /* Prevents the total from shrinking smaller than its content */
  }
  
  .TransactionsWidget__Divider {
    border: none;
    height: 1px;
    background-color: #333;
    margin: 10px 0;
  }
  
  .TransactionsWidget__logo {
    width: auto; 
    height: 25px; 
    margin-right: 8px;
    align-self: center; /* Aligns the logo itself vertically */
  }
  