/* TransactionsWidget.css */
.PositionWidget__container {
  padding: 20px;
}

.PositionWidget__widget {
  background-color: #222;
  border-radius: 8px;
  padding: 20px;
  margin: auto;
  color: white;
  max-width: 1000px;
}

.PositionWidget__positions-title {
  text-align: left;
  font-size: 18px;
}

.PositionWidget__table {
  width: 100%;
  border-collapse: collapse;
}

.PositionWidget__th, .PositionWidget__td {
  text-align: left;
  padding: 12px;
}

.PositionWidget__tr:nth-child(even) {
  background-color: #2c2c2c;
}

.PositionWidget__positive {
  color: green;
}

.PositionWidget__negative {
  color: red;
}

.PositionWidget__secondary-text {
  color: grey;
  font-size: smaller;
}

.PositionWidget__quantity {
  font-size: smaller;
}

.PositionWidget__percentage {
  font-size: smaller;
  color: inherit; /* This ensures it inherits the color from .positive or .negative */
}

.PositionWidget__widget-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.PositionWidget__add-transaction-btn {
  background-color: #007bff; /* Adjust the color as needed */
  color: white;
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.PositionWidget__add-transaction-btn:hover {
  background-color: #0056b3; /* Darker blue for hover effect */
}

.PositionWidget__footer {
  text-align: right;
  font-style: italic;
  padding: 10px 0px 0px 0px;
  font-size: 0.85em;
  color: grey;
  background-color: #222; /* Match the color with the widget background */
}

.PositionWidget__logo {
  width: auto; 
  height: 25px; 
  margin-right: 8px;
  vertical-align: middle;
}