/* LoginPage.css */

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Align with the header */
  align-items: center;
  height: 200vh;
  background-color: #222;
  padding: 70px;
}

.login-form {
  width: 400px;
  margin-top: 0px; 
  padding: 30px;
  background: #333;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.title{
  font-weight: bold;
  color: white;
  text-align: center;
  text-decoration: none;
  display: block;
  margin-top: 0px;
  padding: 20px;
  font-size: 30px;
  
}

.form-group {
  display: flex;
  flex-direction: column;
}


.login-input {
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  background-color: #555;
  color: white;
}

.password-group {
  position:relative;
  display: flex;
  flex-direction: column; 
}


.show-password-button {
  position:absolute;
  right: 5px; /* Adjust as needed */
  top: 7px; /* Adjust as needed */
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.show-password-button img {
  width: 10px;
  height: auto;
  filter: invert(1);
}

.login-button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: white;
  color: black;
  font-weight: bold;
  cursor: pointer;
}

.signup-link {
  color: #61dafb;
  text-decoration: none;
  display: block;
  margin-top: 10px;
  text-align: center;
}

.error-message {
  color: #ff0000; /* Red color */
  font-size: 14px; /* Adjust the font size as needed */
  /* Add more styling as required */
}
